<div>
    <h2>We are here for you </h2>
    <a href='/services'> Services </a>
    <a href='/jobs'> Careers</a>
</div>

<div>
    <h2>Where everything started</h2>
    <p> In 2020, right at the moment when Covid-19 started, Igor Care was founded as a response to a new path in life. 
        The company was born with an idea and a goal on mind, to make a difference in people's life. 
        Thanks to the help of our investors, we have numerous compassionate and professionals ready to step in, and care with passion for families, and friends.
            <br>
        Igor Care seeks to become a trusted leader in providing a full range of services oriented for middle aged and elder groups. Our lines are ready to serve you at our best from 9:00 am to 5:00 pm from Mondays to Fridays.
    </p>
</div>

<div> 
    <h2>Who we are </h2>
    <p>At Igor Care we do not discrimate based on gender, color, education, race, nor relegion. We take pride in our members and strongly believe in ownership, 
    given the right mindset, and determination, you can scalate the ladder of the company, and become a leader among colleages.</p>
</div>